.news {
  width: 100%;
  height: 110vh;
  background-image: url(../assets/navbar.png) !important;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-color: rgb(240, 240, 240);
  display: inline-block;
  padding-top: 70px;
}
.codial {
  width: 65%;
  margin-left: 15%;
  margin-top: 35px;
  height: 250px;
  background-image: url(../assets/about.png);
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(29, 83, 124);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 22px;
  font-weight: 600;
  background-color: rgb(245, 245, 245);
  display: block;
  border: 1px solid rgb(245, 245, 245);
  margin-bottom: 30px;
}
.title {
  width: 100%;
  height: 80px;
  background-color: white;
  font-size: 33px;
  text-align: center;
  color: rgb(29, 83, 124);
  padding: 10px 0px;
}
@media (max-width: 447px) {
  .codial {
    font-size: 18px;
    width: 80%;
    height: 500px;
    left: 1%;
    padding: 0px;
  }
}
