.androidblock1{
    width: 100%;
    height: 110vh;
    background-image: url(../assets/etap.png);
    background-repeat: no-repeat;
    background-position-y: -40px;
    background-size: 90%;
    background-color: rgb(29, 83, 124);
    color: #fff;
    display: flex;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.title{
    margin-bottom: 40px;
    font-size: 22px;
}
.android{
    width: 100%;
    display: inline-block;
}
.androidbox{
    width: 42%;
    margin-left: 100px;
    line-height: 25px;
}
.androidimg img{
    width: 650px;
    height: 600px;
}

.btn{
    width: 200px;
    height: 40px;
    background: linear-gradient(90deg, rgb(54, 157, 254), rgb(3, 86, 249));
    line-height: 40px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    color: #ffff;
    transition: all 0.5s ease;
}
.btn:hover{
    background: linear-gradient(90deg, rgb(3,86,249), rgb(54,157,254));
    box-shadow: 0 0 20px 2px black;
}
.block2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding-bottom: 60px;
  }
  .block2 div {
    width: 350px;
    height: 300px;
    background-color: rgb(29, 83, 124);
    margin: 50px 0px;
    text-align: center;
    color: white;
    border-radius: 8px;
  }
  .block2 div img {
    margin-top: -20px;
    width: 70%;
  }

  @media (max-width: 447px){
    .androidblock1{
        height: 100vh;
    }
    .ks_info{
      flex-wrap: wrap;
    }
    .title{
        line-height: 50px;
    }
    .androidbox{
        width: 100%;
      padding: 10px;
     margin-left: 0%;
    }
  .androidimg img{
    margin-top: 0px;
    width: 360px;
    height: 350px;
  }
   .block2{
    flex-wrap: wrap;
    margin-top: 200px;
   }
  
  }