.block1{
    width: 100%;
    height: 110vh;
    background-image: url(../img/Этапы.png);
    background-repeat: no-repeat;
    background-position-y: -40px;
    background-size: 90%;
    background-color: rgb(29,83,124);
    display: flex;
}
.box{
    width: 30%;
    height: 80vh;
    color: white;
    margin-top: 200px;
    margin-left: 8%;
}
.text3{
    color: rgb(255, 255, 255);
    font-size: 46px;
    line-height: 54px;
}
.btn4{
    width: 200px;
    height: 40px;
    background: linear-gradient(90deg, rgb(54,157,254), rgb(3,86,249));
    line-height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    color: white;
    transition: all .5s ease;
}
.box2{
    width: 560px;
    height: 450px;
    margin-top: 160px;
    margin-left: 15%;
}
.box2 img{
    width: 100%;
}
.block2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245,245,245);
    padding-bottom: 50px;
}
.block2 div{
    width: 350px;
    height: 300px;
    background-color: rgb(29, 83, 124);
    margin: 50px 0px;
    text-align: center;
    color: white;
    border-radius: 8px;
    box-shadow:  0px 0px 20px .5px rgb(29,83,124);
    transition: all .3s ease;
}
.block2 img{
    margin-top: 20px;
width: 220px;
object-fit: cover;
height: 220px;
cursor: pointer;
}


