.header {
  width: 100%;
  height: 110vh;
  background-image: url(../assets/etap.png);
  background-repeat: no-repeat;
  background-position-y: -40px;
  background-size: 90%;
  background-color: rgb(29, 83, 124);
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
}
.header_info {
  width: 38%;
  height: 80vh;
  color: white;
  margin-top: 200px;
  margin-left: 8%;
}
.title {
  color: rgb(255, 255, 255);
  font-size: 46px;
  margin-top: -80px;
  margin-bottom: 20px;
}
.btn{
  width: 200px;
  height: 40px;
  background: linear-gradient(90deg, rgb(54, 157, 254), rgb(3, 86, 249));
  line-height: 40px;
  border-radius: 10px;
  text-align: center;
  margin-top: 40px;
  color: white;
  transition: all 0.5s ease;
}
.btn:hover{
    background: linear-gradient(90deg, rgb(3,86,249), rgb(54,157,254));
    box-shadow: 0 0 20px 2px black;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.cards div {
  width: 350px;
  height: 300px;
  background-color: rgb(29, 83, 124);
  margin: 50px 0px;
  text-align: center;
  color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0.5px rgb(29, 83, 124);
  transition: all 0.3s ease;
}
.cards img {
  margin-top: 20px;
  width: 220px;
  object-fit: cover;
  height: 220px;
  cursor: pointer;
}
