header {
  width: 100%;
  height: 120vh;
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background-color: rgb(29, 83, 124);
  color: white;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
}

.text1 {
  width: 45%;
  margin-top: 280px;
  margin-left: 18%;
  color: white;
  font-size: 48px;
  line-height: 68px;
  font-family: "Poppins", sans-serif;
}
.text1 span {
  color: rgb(255, 157, 0);
}
header .btn {
  width: 220px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgb(29, 83, 124);
  padding: 0 12px;
  border-radius: 20px;
  margin-left: 18%;
  margin-top: 5px;
}
.btn p {
  font-size: 12px;
  margin-left: 8px;
  padding: 12px 5px;
}
.btn img {
  width: 15px;
}

.courses {
  background-image: url(../assets/bg2.png);
  background-repeat: no-repeat;
  background-position-y: -750px;
  background-size: 100%;
  background-color: rgb(245, 245, 245);
  display: block;
  border: 1px solid rgb(245, 245, 245);
}

.cards {
  width: 70%;
  margin-left: 15%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}
.card {
  width: 30%;
  min-height: 400px;
  margin-top: 22px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: rgb(29, 83, 124);
  color: white;
  transition: all .5s ease;
}
.cards .card:hover {
  transform: scale(1.12);
  box-shadow: 0 0 20px 2px rgb(109, 109, 109);
  z-index: 888;
}
.card:nth-child(2) {
  color: rgb(29, 83, 124);
}

.card:nth-child(2) li {
  color: rgb(29, 83, 124);
}
.card:nth-child(2) .btn1 {
  color: white;
}
.card ul li:nth-child(2) .btn1 {
  color: red;
  background-color: red;
}
.card h4 {
  margin-left: 24px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  margin-top: -15px;
}
.card a {
  text-decoration: none;
  color: white;
}

ul {
  padding-left: 40px;
  margin-top: 10px;
}
ul li {
  font-size: 16px;
  transition: all .2s ease;

  
}
ul li:hover {
  cursor: pointer;
  letter-spacing: 2px;
  color: darkseagreen;
}
button {
  margin-bottom: 10px;
}
.btn1 {
  width: 74%;
  margin-left: 13%;
  margin-top: 20px;
  height: 45px;
  text-align: center;
  font-family: "poppins", sans-serif;
  line-height: 45px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(54, 157, 254), rgb(3, 86, 249));
  transition: all 0.5s ease;
}
.btn1:hover,
.btn4:hover {
  background: linear-gradient(90deg, rgb(3, 86, 249), rgb(54, 157, 254));
  box-shadow: 0 0 20px 2px black;
}
.cards .card:nth-child(2) .btn1 {
  margin-top: 24px;
}
.cards .card:nth-child(3) .btn1 {
  margin-top: 24px;
}

.card:nth-child(2) {
  background-color: white;
}
.card img {
  width: 150px;
  height: 120px;
}
.btn_far {
  background: linear-gradient(90deg, rgb(3, 86, 249), rgb(54, 157, 254));
  color: white;
  padding: 5px 22px;
  border-radius: 18px;
  box-shadow: 0 0 10px 2px rgb(29, 83, 124);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btn_marg {
  color: black;
  padding: 5px 22px;
  border-radius: 18px;
  box-shadow: 0 0 10px 2px rgb(29, 83, 124);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btn_far:hover,
.btn_marg:hover {
  background: rgb(0, 22, 65);
  color: white;
}

.text2 {
  color: rgb(29, 83, 124);
  font-size: 48px;
  text-align: center;
  margin-top: 80px;
}
.btns {
  width: 280px;
  margin-top: 12px;
  margin-left: 39%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.login {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/login.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: rgb(245, 245, 245);
  background-position-x: right;
  background-position-y: 100px;
  display: inline-block;
}
.body {
  width: 100%;
  display: flex;
}
.title {
  width: 100%;
  height: 50px;
  background-color: white;
  border: 1px solid rgb(245, 245, 245);
  font-size: 33px;
  text-align: center;
  color: rgb(29, 83, 124);
  margin-top: 100px;
}

.label {
  width: 40%;
  text-align: right;
  line-height: 50px;
  margin-top: 115px;
}
.input {
  margin-left: 10px;
  margin-top: 102px;
}
.input input {
  margin-top: 22px;
  width: 420px;
  height: 28px;
  border: 1px solid rgb(217, 217, 217);
  padding-left: 5px;
  outline: none;
}
.input select {
  outline: none;
  width: 420px;
  height: 28px;
  margin-top: 24px;
  border: 1px solid rgb(217, 217, 217);
}
.input textarea {
  width: 420px;
  margin-top: 21px;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(217, 217, 217);
}

.btn {
  width: 200px;
  height: 40px;
  background: linear-gradient(90deg, rgb(54, 157, 254), rgb(3, 86, 249));
  color: white;
  text-align: center;
  margin-left: 48%;
  margin-top: 15px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgb(3, 86, 249), rgb(54, 157, 254));
  box-shadow: 0px 0px 10px 4px rgb(118, 118, 216);
}
.location {
  width: 100%;
  height: 580px;
  padding: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.ferghana_map {
  position: absolute;
  left: 100px;
  width: 600px;
  height: 400px;
  border: 1px solid black;
}
.marglan_map {
  position: absolute;
  top: 40px;
  border: 1px solid black;
  right: 200px;
  width: 450px;
  height: 500px;
}
.ferghana_map.activ .marglan_map{
  display: none;
}

.about {
  width: 100%;
  height: 110vh;
  background-image: url(../assets/navbar.png) !important;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-color: rgb(240, 240, 240);
  display: inline-block;
  padding-top: 70px;
}
.codial {
  width: 65%;
  margin-left: 15%;
  margin-top: 75px;
  height: 300px;
  background-image: url(../assets/about.png);
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(29, 83, 124);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 22px;
  font-weight: 600;
  background-color: rgb(245, 245, 245);
  display: block;
  border: 1px solid rgb(245, 245, 245);
  margin-bottom: 30px;
}
.about_title {
  width: 100%;
  height: 80px;
  padding: 20px 0px;
  background-color: white;
  font-size: 33px;
  text-align: center;
  color: rgb(29, 83, 124);
}

@media (max-width: 447px) {

  .codial {
    font-size: 18px;
    width: 80%;
    left: 1%;
    padding: 10px;
    height: 500px;
  }
}


@media (max-width: 1380px){
.cards{
  width: 100%;
  margin-left: 0%;
}
.cards.card{
  width: 33%;
  margin-left: 0px;
}
.ferghana_map {
  top: 50px;
  /* left: -375px; */
  width: 350px;
  height: 350px;
}
.marglan_map {
  top: 40px;
  right: 20px;
  width: 450px;
  height: 250px;
}
}

@media (max-width: 992px){
  .ferghana_map {
    top: 300px;
    width: 450px;
    height: 300px;
  }
  .marglan_map {
    top: 40px;
    right: 220px;
    width: 450px;
    height: 250px;
  }
}


@media (max-width: 768px){
  .ferghana_map {
    top: 320px;
    /* left: -375px; */
    width: 350px;
    height: 250px;
  }
  .marglan_map {
    top: 40px;
    right: 20px;
    width: 410px;
    height: 250px;
  }
}

@media (max-width: 447px){
 
  header{
      width: 100%;
      height: 280px;
  }
  .text1{
      margin: 0;
      width: 90%;
      margin-left: 5%;
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 20px;
      margin-top: 100px;
  }
  .btn{
      margin-left: 5% !important;
      width: 55% !important;
  }
  .btn img{
      width: 10px;
  }
  .btn p{
      font-size: 10px;
      letter-spacing: .2px;
  }
  .courses{
    margin-top: -180px;

  }
  .cards{
      width: 100%;
      padding: 0;
      margin: 0;
  }
  .cards .card{
      width: 80%;
      margin: 0;
      margin-top: 30px;
  }
  .text2{
      font-size: 30px;
  }
  .btns {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 15%;
  }
  .ferghana_map {
    top: 320px;
    left: 22px;
    width: 350px;
    height: 250px;
  }
  .marglan_map {
    top: 40px;
    right: 20px;
    margin-left: 10px;
    width: 350px;
    height: 250px;
  }
  .login{
      height: 80vh;
  }
  .label{
      width: 40% !important;
      margin-top: 30px;
      font-size: 10px;
  }
  .input{
      width: 50%;
      margin-top: 20px;
      padding: 16px 0px;

  }
  .input input{
      width: 80%;
      text-align: center;
      font-size: 14px;
      padding: 16px 0px;
  }
  .input select{
      width: 100%;
      font-size: 10px;
  }
  .input textarea{
      width: 100%;
      font-size: 10px;
      height: 80px;
  }
  .btn5{
      margin: 0 auto;
      margin-top: 20px;
  }

  .scrollToTop-btn.active{
      right: 10px !important;
  }
  .block2{
      display: flex;
      flex-wrap: wrap;
  }
  .block2 div{
      margin-top: 0px;
  }
  .block2 div:nth-child(1){
      margin-top: 40px;
  }
  .box{
      width: 90%;
  }
  .box p{
      width: 100% !important;
  }
  .box2{
      position: absolute;
      top: -100px !important;
      left: 0px;
      padding: 0;
      width: 250px;
      z-index: 0;
  }
 
}