.ks_info {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/etap.png);
  background-repeat: no-repeat;
  background-position-y: -40px;
  background-size: 90%;
  background-color: rgb(29, 83, 124);
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.ks_title{
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 26px;
}
.ks_left {
  color: white;
}
.ks_btn {
  padding: 10px 25px;
  width: 200px;
  background: linear-gradient(90deg, rgb(54, 157, 254), rgb(3, 86, 249));
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
  transition: all 0.5s ease;
}
.ks_btn:hover{
    background: linear-gradient(90deg, rgb(3,86,249), rgb(54,157,254));
    box-shadow: 0 0 20px 2px black;
}
.ks_left {
  width: 560px;
  height: 450px;
  margin-top: 150px;
  margin-left: 10%;
}
.box2 img {
  width: 550px;
  height: 550px;
  margin-top: 20px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
.cards div {
  width: 350px;
  height: 300px;
  background-color: rgb(29, 83, 124);
  margin: 50px 0px;
  text-align: center;
  color: white;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.cards div img {
  margin-top: -20px;
  margin-left: 20px;
  width: 90%;
}



@media (max-width: 447px){
  .ks_title{
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 18px;
}
  .ks_info{
    flex-wrap: wrap;
  }
  .ks_left{
    padding: 30px;
    margin-left: 0%;
  }
  .ks_left p{
    margin-left: 0%;
    font-size: 15px;
  }
.box2 img{
  margin-top: -40px;
  width: 360px;
  height: 350px;
}
 .cards{
  flex-wrap: wrap;
  margin-top: 0px;
 }
}