.footer {
  width: 100%;
  height: 140px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.logo2 img {
  width: 180px;
  margin-left: 40px;
}
.logo2 {
  width: 48%;
}
.tarmoqlar {
  width: 25%;
}
.tarmoqlar img {
  margin-left: 20px;
}
.tarmoqlar img:hover {
  transform: scale(1.2);
  margin-top: -10px;
}
.haqida {
  width: 28%;
  height: 100px;
  display: flex;
  color: rgb(29, 83, 124);
}
.haqida div:nth-child(1) {
  width: 35%;
}
.haqida div h5 {
  margin-top: 10px;
}
.haqida h6 {
  font-size: 8px;
}

@media (max-width: 447px){
  .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}
.logo2{
    padding: 0;
    width: 25%;
}
.logo2 img{
    margin: 0;
    width: 100%;
}
.tarmoqlar{
    width: 45%;
    padding: 0;
}

.haqida{
    width: 80%;
}
.biz-haqimizda{
    height: 55vh;
}
.codial{
    width: 95%;
    margin-top: 10px !important;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 15px;
}
}