*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.scrollToTop-btn {
    z-index: 999;
    position: fixed;
    background-color: rgb(29, 83, 124);
    color: white;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .scrollToTop-btn.active {
    right: 20px;
    opacity: 1;
  }
  
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    transition: all .3s ease;
    z-index: 999;
    background-color: rgb(29, 83, 124);
}
.navbar.sticky{
    background-color: rgb(172, 114, 39);
    height: 50px;
}
.nav_btn{
    display: none;
}
.menular{
    display: none;
}
.logo{
    width: 40%;
    height: 40px;
}
.logo img{
    width: 140px;
    margin-left: 20px;
}
.nav{
    width: 44%;
    height: 40px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 40px;
    margin-left: 5px;
    border-radius: 13px;
    padding: 0 12px;
}
.nav a:hover{
    background-color: rgb(29,83,124);
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px rgb(102, 102, 112) ;
}
.number{
    width: 15%;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
}
.number .num{
    margin-left: 10px;
}
.number .num a{
    text-decoration: none;
    color: white;
}


/* .nav_bar {
  display: none;
  color: black;
} */
.nav_links{
    display: none;
}
.nav-close-btn {
  color: white;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  padding-bottom: 10px;
  transition: all .8s ease-in-out;
}
.nav_bar .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
}
.m_black {
  color: black !important;
  font-size: 38px !important;
  margin-top: 5px;
}

@media (max-width: 1280px){
    .logo{
        width: 20%;
        height: 40px;
    }
    .nav{
        width: 60%;
    }
    .number{
        width: 20%;
    }
}


@media (max-width: 992px){
.nav{
    display: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.hidden {
    display: none;
}
/* .nav_links{
    display: block;
} */
.nav_bar nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #29335c;
    transition: 1s;
  }
  .nav_bar .responsive_nav {
    transform: translateY(100vh);
    font-size: 32px;
  }
.nav_btn{
    display: block;
    color: white;
    font-size: 28px;
    margin-left: 20px;
    cursor: pointer;
}
.logo{
    width: 50%;
    height: 40px;
}
.number{
    width: 40%;
}
}
@media (max-width: 600px){
    .navbar{
        padding: 5px 10px;
    }
.logo{
    width: 20%;
}
.number{
    width: 60%;
}
}
@media (max-width: 447px){
.nav{
    display: none;
}
.navbar{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}
.logo{
    width: 30%;
    margin-top: 10px;
}
.logo img{
    width: 100%;
    margin-left: -20px;
}

.num{
    font-size: 14px;
}
.menular{
    display: block;
    position: absolute;
    width: 0px;
    height: 70vh;
    opacity: 0;
    transition: all .5s ease;
}

}