.block1 {
  background-image: url(../assets/etap.png);
  background-repeat: no-repeat;
  background-position-y: -40px;
  background-size: 90%;
  background-color: rgb(29, 83, 124);
}

.block2 div {
  background-color: rgb(29, 83, 124);
  margin: 50px 0px;
  border-radius: 10px;
}

@media (max-width: 447px) {
  .block1 {
    padding-top: 100px;
    height: 80vh;
  }
  .box {
    width: 100%;
    margin-left: 0;
    padding: 40px;
  }
  .box2 img {
    margin-top: 140px;
    width: 340px;
    height: 320px;
  }
  .cards {
    flex-wrap: wrap;
    margin-top: 200px;
  }
}
